
* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


section > ul > li {
    letter-spacing: 10px;
}

p + p + p{
    color: yellow;
}

h1{
    font-size: 3rem;
}

#sub-header{
    text-transform: uppercase;
}

.text-green{
    background: green;
}

.border-blue{
    border: 2px solid blue;
}

section img{
    height: 20vh;
    width: 20vh;
    border-radius: 100px;
}

img + ul{
    list-style-type: none;
}

section p{
    text-align: center;
    color: black;
}